body {
  font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
}

:root {
  --primary-color: #fff;
  --highlight-color: #cf5148;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

.highlight {
  color: var(--highlight-color);
}

.hero-banner {
  width: 100vw;
  max-height: 300px;
}